@model Department
@{
    ViewData["Title"] = "Department Details";
}

<h1>Department Details</h1>

<div>
    
    <partial name="PartialViews/DetailsDeleteDepartmentPartial" />

    <a class="btn btn-primary" asp-controller="Department" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-light" asp-controller="Department" asp-action="Index">Back To List</a>
</div>

