@model EmployeeViewModel
@{
    ViewData["Title"] = "Employee Details";
}

<h1>Employee Details</h1>

<div>
    
    <partial name="PartialViews/DetailsDeleteEmployeePartial" />

    <a class="btn btn-primary" asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-light" asp-controller="Employee" asp-action="Index">Back To List</a>
</div>

